.camperItem {
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 100%;
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.campersList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.favoritesText {
  margin: 0 auto;
  margin-top: 100px;
}
