.advantagesList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-bottom: 44px;
  width: 430px;
}

.advantagesItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  height: auto;
}
.iconAdvantages {
  width: 20px;
  height: 20px;
}
