.link {
  display: block;
  width: 173px;
}
.previewImg {
  width: 292px;
  height: 320px;
  background-color: var(--background-features);
  object-fit: cover;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
}

.iconsStar {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.wrapper {
  width: 520px;
}
.camperHeader {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}
.camperHeaderText {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  max-width: 390px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.camperHeaderPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.camperHeaderBtn {
  background: transparent;
  border: none;
  position: absolute;
  top: 2px;
  right: -56px;
}
.camperSubHeader {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.camperRating {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
}

.camperLocation {
  display: flex;
  align-items: center;
}

.camperDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.iconAdvantages {
  width: 20px;
  height: 20px;
}

.advantagesList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
  width: 430px;
}

.advantagesItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  height: auto;
}

.camperHeaderBtn {
}
.heartIcon {
  width: 24px;
  height: 24px;
}
