.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 250px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 60px;
}
